img {
    border-radius: 50%;
    width: 200px;
    display: block;
    margin: auto;
}
h2 {
    text-align: center;
    color: brown;
}
body{
    background-color: rgb(252, 221, 226);
}
h4{
    text-align: center;
    margin: 20px;
    color: rgb(111, 13, 13);
}